<%- include('partials/dashheader') %>

<div class="centralize" align="center">
    <div class="">
        <h4>Edit Staff Profile</h4>
    </div>
    <div class="form-wide">
    <form action="/editstaff" method="POST">
        <div>
        <% if(message != '') { %>
            <div class="alert alert-secondary" role="alert">
        <%= message %>
        </div>
        <% } %>
        </div>

        <div class="form-group">
        <input type="text" class="form-control" name="staffname" placeholder="Full Name" value="<%=staff.staffname%>" required minlength="6">
        </div>
        <div class="form-group">
        <select class="form-control" name="sbu" required>
            <option value="" disabled selected>Select SBU</option>
            <option value="hq">Kam HQ</option>
            <option value="jimba oja">Kam Steel - Jimba Oja</option>
            <option value="sagamu">Kam Steel - Sagamu</option>
            <option value="bolfik">Bolfik</option>
            <option value="taopex">Taopex</option>
            <option value="dimkit-ganmo">Dimkit - Ganmo</option>
            <option value="dimkit-kaduna">Dimkit - Kaduna</option>
            <option value="dimkit-asaba">Dimkit - Asaba</option>
            <option value="group">Group</option>
            <option value="boity">Boity</option>
            <option value="quarry">Kam Quarry</option>
            <option value="tyb-investment">TYB Investment</option>
            <option value="haulage">Kam Haulage</option>
            <option value="kirikiri">Lagos Office - Kirikiri</option>
            <option value="vi">Lagos Office - VI</option>
            <option value="ikeja">Lagos Office - Ikeja</option>
        </select>
        </div>
        <div class="form-group">
        <input type="text" class="form-control" name="designation" placeholder="Staff Designation" value="<%=staff.designation%>" required minlength="6">
        </div>
        <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email Address" value="<%=staff.email%>"  required>
        </div>
         <div class="form-group">
        <input type="text" class="form-control" name="phone" placeholder="Phone Number (CUG Preferred)" value="<%=staff.phone%>" required>
        </div>
        <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="User Password" value="<%=staff.password%>" required>
        </div>
        <input type="hidden" name="id" value="<%=staff._id%>">
        <button type="submit" class="btn btn-outline-primary">Update Staff Profile</button>
    </form>
    </div>

</div>
<%- include('partials/dashFooter') %>
