<%- include('partials/dashheader') %>

        <div class="centralize top-space w-50">
            <% if(message != '') { %>
            <div class="alert alert-secondary" align="center" role="alert">
                    <%= message %>
            </div>
                <% } %>
            <form class="form" method="post" action="/staff/resetpassword">
                <div class="form-group" align="center">
                    <h4>Reset Password For <%=staff.staffname %></h4>
                </div>
                <div class="form-group btn-center " align="center">
                    <input type="hidden" name="staffid" value="<%= staff._id %>">
                    <input class="form-control m-2 w-50" type="text" name="newpassword" placeholder="Choose a new Password" autofocus required>
                </div>
                <div class="btn-center" align="center">
                    <button class="btn btn-outline-primary" type="submit">Reset Password</button>
                </div>
            </form>
        </div>

<%- include('partials/dashFooter') %>