<%- include('partials/dashheader') %>
    <div class="holder">
        <div class="staff-detail">
            <div class="card-header" align="center">
                <h6><b>STAFF DETAIL</b></h6>
            </div>
            <div class="card-body ticket-font">
                <p>Date: <%= ticket.date_created %>
                </p>
                <p>User: <%= ticket.fullname %>
                </p>
                <p>SBU: <%= ticket.sbu.toUpperCase() %>
                </p>
                <p>Department: <%= ticket.department.toUpperCase() %>
                </p>
                <p>Phone No: <%= ticket.phone %>
                </p>
                <p>Email: <%= ticket.email %>
                </p>
            </div>
        </div>
        <div class="card col-3 ticket-issue-detail">
            <div class="card-header" align="center">
                <h6><b>TICKET DETAIL</b></h6>
            </div>
            <div class="card-body ticket-font">
                <p>Ticket Number: <span class="ticket-number">
                        <%= ticket.ticket_number %>
                    </span></p>
                <p>Category: <%= ticket.category %>
                </p>
                <p>Subject: <%= ticket.subject %>
                </p>
                <p>Description:</p> <textarea class="ticket-detail" cols="30" rows="3"
                    disabled><%= ticket.description %></textarea>
                <% if(ticket.attachment !="" ) { %>
                    <!-- Trigger the Modal -->
                    <p> Attachment: </p><img id="myImg" src="<%= ticket.attachment %>" alt="Attachment"
                        style="width:90%;max-width:90px">
                    <% } %>
            </div>
        </div>
        <div class="ticket-status">
            <div class="card-header" align="center">
                <h6><b>TICKET STATUS</b></h6>
            </div>
            <div class="card-body ticket-font">
                <% if(ticket.state=="UNASSIGNED" ){ %>
                    <p>Assigned: <span>Not Assigned</span></p>
                    <% } %>
                        <% if(ticket.state=="ASSIGNED" ){ %>
                            <p>Assigned: <span>
                                    <%= ticket.staffname %>
                                </span></p>
                            <p>Status: <span>
                                    <%= ticket.status %>
                                </span></p>
                            <p>Date Assigned: <span>
                                    <%= ticket.date_assigned %>
                                </span></p>
                            <p>CUG/Phone No: <span>
                                    <%= ticket.staffphone %>
                                </span></p>
                            <p>Email: <span>
                                    <%= ticket.staffemail %>
                                </span></p>
                            <% } %>
            </div>
            <div class="form" align="center">
                <form action="/assignticket" method="post">
                    <input type="hidden" name="ticketid" value="<%=ticket._id%>">
                    <div class="input-group mb-3">
                        <select class="form-control" name="staff" aria-placeholder="Staff" required>
                            <option value="" disabled selected>Assign To Staff
                            </option>
                            <% allstaff.forEach(staff=> { %>
                                <option value="<%=staff._id%>">
                                    <%=staff.staffname%>
                                </option>
                                <% }) %>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Assign Ticket</button>
                        </div>
                    </div>
                </form>
                <div class="form" align="center">
                    <form action="/closeticket/<%= ticket._id %>" method="post">
                        <input type="hidden" name="ticketid" value="<%=ticket._id%>">
                        <div class="input-group mb-3">
                            <select class="form-control" name="status" aria-placeholder="Staff" required>
                                <option value="" disabled selected>Change Ticket Status
                                </option>
                                <option value="OPEN">OPEN</option>
                                <option value="IN PROGRESS">IN PROGRESS</option>
                                <option value="CLOSED">CLOSED</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">Update Ticket</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="">
                <div class="card-header" align="center">
                    <h6><b>COMMENTS</b></h6>
                </div>
                <div class="card-body ticket-font">
                    <% if(ticket.status !="CLOSED" ) { %>
                        <div class="form" align="center">
                            <form action="/admin/comment" method="post">
                                <input type="hidden" name="ticketid" value="<%=ticket._id%>">
                                <div class="form-group">
                                    <textarea name="comment" class="form-control" cols="75" rows="2"
                                        placeholder="Enter comment" required></textarea>
                                    <!-- <input class="form-control" type="file" /> -->
                                </div>
                                <div class="form-group m-4">
                                    <button type="submit" class="btn btn-sm btn-outline-primary">Add Comment</button>
                                </div>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <div class="comments">
                        <% ticket.comments.reverse().forEach(comment=> { %>
                        <div class="card m-1">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center ">
                                    <img src="/images/pp.jpg" class="user-img rounded-circle mr-1">
                                        <small class="font-weight-bold text-primary commenter mr-2">
                                            <%= comment.user.split(' ')[0] %>
                                        </small>
                                         <small class="comment mr-2"><%= comment.comment %></small>
                                    </div>
                                    <hr>
                                    <small class="comment-date"><%= comment.date.split(' ')[0] %></small>
                                    <hr>
                                </div>        
                            </div>
                    <% }) %>
                    </div>
        </div>
    </div>

<%- include('partials/dashFooter') %>