<%- include('partials/dashheader') %>

        <div class="centralize w-75 mt-4">
            <div>
        <% if(message != '') { %>
            <div class="alert alert-secondary" role="alert">
        <%= message %>
        </div>
        <% } %>
        </div>
            <div>
                <div class="">
                    <div class="card-header">
                        <div>
                            <div class="row">
                              <div class="col-sm-6 col-md-5 col-lg-6">
                        <p><%=ticket.subject%> from <%=ticket.fullname%> - <%= ticket.status %> </p>
                        <hr>
                        <div class="float-left">
                            <p>Date Created:</p> <%= ticket.date_created%>
                        </div>
                        <% if(ticket.date_closed) { %>
                        <div>
                            <p>Date Closed:</p> <%= ticket.date_closed%>
                            <p>Closed By:</p> <%= ticket.closed_by%>
                        </div>
                        <% } %>
                        <div>
                            <p>Assigned To:</p><% if(ticket.state == "UNASSIGNED") { %>
                                <p>Not Yet Assigned</p>
                                <% } %>
                                <%=ticket.staffname%>
                        </div>
                        <div>
                            <p>Ticket State:</p> <%= ticket.state%>
                        </div>
                        <div class="mt-4">
                            <% if(ticket.status != "CLOSED") { %>
                            <a href="/closeticket/<%=ticket._id%>" class="btn btn-sm btn-outline-primary">Close Ticket</a>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                        <p>Staff Contact Details</p>
                        <hr>
                        <p>Staff Email: <%= ticket.email %></p>
                        <p>Staff Phone: <%= ticket.phone %></p>
                        <p>Staff SBU: <%= ticket.sbu.toUpperCase() %></p>
                        <p>Staff Department: <%= ticket.department %></p>
                    </div>
                    <div class="card-body" align="center">
                        <hr>
                        <p>Ticket Detail</p>
                        <hr>
                        <p>Ticket Category: <%= ticket.category %></p>
                        <p>Description Of Complaint: <%= ticket.description %></p>
                        <p>Attachment:
                            <img class="images" src="<%= ticket.attachment.split('public')[1] %>" alt="attachment">
                            <div class="space"></div>
                        </p>
                        <div class="comments">
                            <div class="comments-header bg-secondary text-white">
                                <h5>Comments</h5>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <span>Admin Comments</span>
                                </div>
                                <div class="card-body">
                                    <% if(ticket.admincomment == "") { %>
                                        <p>No comments from Admin.</p>
                                        <%}%> 
                                    <% ticket.admincomment.forEach(comment => { %>
                                        <div class="comment">
                                            <p><%= comment %></p>
                                        </div>
                                        <%})%> 
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <span>IT Officer Comments</span>
                                </div>
                                <div class="card-body">
                                    <% if(ticket.staffcomment == "") { %>
                                        <p>No comments from IT Officer.</p>
                                        <%}%> 
                                        <% ticket.staffcomment.forEach(comment => { %>
                                            <div class="comment">
                                                <p><%= comment %></p>
                                            </div>
                                            <%})%> 
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <span>User Comments</span>
                                </div>
                                <div class="card-body">
                                    <% if(ticket.usercomment == "") { %>
                                        <p>No comments from User.</p>
                                        <%}%> 
                                    <% ticket.usercomment.forEach(comment => { %>
                                        <div class="comment">
                                            <p><%= comment %></p>
                                        </div>
                                        <%})%> 
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <% if(ticket.status != "CLOSED") { %>
                        <div class="card-header">Admin Comment</div>
                        <div class="form">
                            <form action="/assignticket" method="post">
                                <input type="hidden" name="ticketid" value="<%=ticket._id%>">
                                <div class="form-group">
                                    <textarea name="admincomment" cols="105" rows="4" placeholder="Enter your comments here"></textarea>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="staff" aria-placeholder="Staff" required>
                                    <option value=""disabled selected>Assign To Staff</option>
                                    <% allstaff.forEach(staff => { %>
                                        <option value="<%=staff._id%>"><%=staff.staffname%></option>
                                    <% }) %>
                                </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-primary">Update Ticket</button>
                                </div>
                            </form>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

<%- include('partials/dashFooter') %>